@model MakerslabInventory.Models.Inventar

@{
    ViewData["Title"] = "Create";
}

<h1>Vytvoriť</h1>
<h4>Inventar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nazov" class="control-label"></label>
                <input asp-for="Nazov" class="form-control" />
                <span asp-validation-for="Nazov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerioveCislo" class="control-label"></label>
                <input asp-for="SerioveCislo" class="form-control" />
                <span asp-validation-for="SerioveCislo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategoria" class="control-label"></label>
                <input asp-for="Kategoria" class="form-control" />
                <span asp-validation-for="Kategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mnozstvo" class="control-label"></label>
                <input asp-for="Mnozstvo" class="form-control" />
                <span asp-validation-for="Mnozstvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jednotka" class="control-label"></label>
                <input asp-for="Jednotka" class="form-control" />
                <span asp-validation-for="Jednotka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokalita" class="control-label"></label>
                <input asp-for="Lokalita" class="form-control" />
                <span asp-validation-for="Lokalita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinMnozstvo" class="control-label"></label>
                <input asp-for="MinMnozstvo" class="form-control" />
                <span asp-validation-for="MinMnozstvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxMnozstvo" class="control-label"></label>
                <input asp-for="MaxMnozstvo" class="form-control" />
                <span asp-validation-for="MaxMnozstvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stav" class="control-label"></label>
                <select asp-for="Stav" class="form-control" asp-items="Html.GetEnumSelectList<MakerslabInventory.Models.StavInventara>()"></select>
                <span asp-validation-for="Stav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumVypozicky" class="control-label"></label>
                <input asp-for="DatumVypozicky" class="form-control" />
                <span asp-validation-for="DatumVypozicky" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Obrázok</label>
                <input type="file" name="obrazokSubor" class="form-control" accept="image/*" />
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Vytvoriť" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Späť na prehľad</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
