@model MakerslabInventory.Models.Inventar

@{
    ViewData["Title"] = "Create";
}

<h1>Vytvoriť</h1>
<h4>Inventár</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- ZMENA: Pridané enctype="multipart/form-data" -->
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- ... existujúce polia (Nazov, Kategoria atď.) ... -->

            <!-- ZMENA: Pole pre nahranie súboru -->
            <div class="form-group">
                <label class="control-label">Obrázok</label>
                <input type="file" name="obrazokSubor" class="form-control" accept="image/*" />
            </div>
            <!-- -------------------------------- -->

            <div class="form-group mt-3">
                <input type="submit" value="Vytvoriť" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!-- ... -->
