@model MakerslabInventory.Models.Inventar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nazov" class="control-label"></label>
                <input asp-for="Nazov" class="form-control" />
                <span asp-validation-for="Nazov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategoria" class="control-label"></label>
                <input asp-for="Kategoria" class="form-control" />
                <span asp-validation-for="Kategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mnozstvo" class="control-label"></label>
                <input asp-for="Mnozstvo" class="form-control" />
                <span asp-validation-for="Mnozstvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jednotka" class="control-label"></label>
                <input asp-for="Jednotka" class="form-control" />
                <span asp-validation-for="Jednotka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokalita" class="control-label"></label>
                <input asp-for="Lokalita" class="form-control" />
                <span asp-validation-for="Lokalita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinMnozstvo" class="control-label"></label>
                <input asp-for="MinMnozstvo" class="form-control" />
                <span asp-validation-for="MinMnozstvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxMnozstvo" class="control-label"></label>
                <input asp-for="MaxMnozstvo" class="form-control" />
                <span asp-validation-for="MaxMnozstvo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stav" class="control-label"></label>
                <select asp-for="Stav" class="form-control" asp-items="Html.GetEnumSelectList<MakerslabInventory.Models.StavInventara>()"></select>
                <span asp-validation-for="Stav" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="ZapozicaneKomu" class="control-label"></label>
                <input asp-for="ZapozicaneKomu" class="form-control" />
                <span asp-validation-for="ZapozicaneKomu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumVypozicky" class="control-label"></label>
                <input asp-for="DatumVypozicky" class="form-control" />
                <span asp-validation-for="DatumVypozicky" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
